/RoutingLib/obj/Debug
/RoutingLib.Tests/obj/Debug
/RoutingApp/bin/Debug
/RoutingApp.Tests/obj/Debug
/RoutingApp.Tests/obj/Release
/RoutingApp/bin/Release
/RoutingApp/obj/Debug
/RoutingApp/obj/Release
/RoutingLib/obj/Release
/RoutingLib.Tests/obj/Release
/RoutingApp.Tests/bin/Release
/RoutingApp.Tests/bin/x64/Release
/RoutingApp.Tests/obj/x64/Release
/RoutingApp/bin/x64/Release
/RoutingApp/obj/x64/Release
/RoutingLib/bin/Release
/RoutingLib.Tests/bin/Release
/RoutingLib.Tests/obj/x64/Release
/RoutingLib/obj/x64/Release
/*.user
/TestResults
/.vs
/RoutingApp.Tests/obj/x64/Debug
/RoutingApp.Tests/bin/x64/Debug
/RoutingApp/bin/x64/Debug
/RoutingApp/obj/x64/Debug
/RoutingLib.Tests/bin/x64/Debug
/RoutingLib.Tests/obj/x64/Debug
/RoutingLib.Tests/bin/x64/Release
/RoutingLib/bin/x64/Debug
/RoutingLib/bin/x64/Release
/RoutingLib/obj/x64/Debug
